---
import MusicCTA from '@/partials/music/MusicCTA.astro';
import MusicHero from '@/partials/music/MusicHero.astro';
import MusicOriginals from '@/partials/music/MusicOriginals.astro';
import Basefi from '@/templates/Basefi.astro';

const title = 'Musiikki - Davitt Barry';
const description =
  'Davitt Barryn alkuperäistä musiikkia. Sävellyksiä ja tuotantoja eri genreissä - konseptista masterointiin.';
---

<Basefi head={{ title, description }}>
  <MusicHero locale="fi" />

  <section class="shell">
    <MusicOriginals locale="fi" />
  </section>

  <MusicCTA locale="fi" />
</Basefi>
