---
import Base from '@/templates/Base.astro';

const head = {
  title: 'Privacy Statement',
  description: 'This is the privacy statement of this portfolio website.',
};
---

<Base head={head}>
  <article class="prose mx-auto my-8 text-gray-300 lg:prose-lg">
    <h1 class="text-teal-400">Privacy Statement</h1>
    <p class="text-gray-300">Last Updated: August 30, 2023</p>

    <h2 class="text-teal-400">Introduction</h2>
    <p class="text-gray-300">
      This privacy statement outlines the handling of personal data for visitors
      to this portfolio website.
    </p>

    <h2 class="text-teal-400">Personal Data Collected</h2>
    <p class="text-gray-300">
      This portfolio website may request an email address for the purpose of
      communication if the visitor chooses to use the email button for contact.
    </p>

    <h2 class="text-teal-400">Utilization of Personal Data</h2>
    <p class="text-gray-300">
      The email address, if provided, is used solely for the purpose of
      responding to inquiries or comments.
    </p>

    <h2 class="text-teal-400">Security</h2>
    <p class="text-gray-300">
      While efforts are made to protect any submitted email addresses, it is
      acknowledged that no method of electronic communication is entirely
      secure.
    </p>

    <h2 class="text-teal-400">Contact</h2>
    <p class="text-gray-300">
      Questions regarding this privacy statement can be directed to the email
      address found in the footer of this website.
    </p>
  </article>
</Base>
